.personalCard {
  width: 930px;
  background: linear-gradient(158.05deg, #ffffff 23.76%, #f7faff 133.63%);
  box-shadow: 1px 2px 20px rgba(18, 61, 101, 0.05),
    inset -18.4px -13.8px 184px rgba(255, 255, 255, 0.18);
  border-radius: 18px;
}

.content {
  width: 880px;
  padding: 26px 20px 12px 29px;
}

.personalCard__heander {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
}

.foto {
  width: 40px;
  height: 40px;
  background: url(../images/userPhoto.svg) no-repeat;
}

.personalData {
  padding-left: 10px;
  padding-right: 510px;
}
.userName {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.13px;
  color: #233539;
}

.dateTime {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.13px;
  color: #233539;
}

.massage {
  background: #ffffff;
  border: 1px solid #e9eff4;
  border-radius: 6px;
}

.address {
  display: flex;
  flex-flow: row;
  padding: 8px 14px 0px 13px;
  justify-content: space-between;
  align-items: center;
}

.address__content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.3px;
  color: #323c47;
  opacity: 0.6;
}

.icons {
  display: flex;
  flex-flow: row;
}

.userImage {
  width: 30px;
  height: 30px;
  background: url(../images/AliciliniaPhoto.svg) no-repeat;
}

.users {
  width: 145px;
  padding-left: 8px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.massege__title {
  padding-left: 13px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.3px;
  color: #323c47;
  opacity: 0.6;
  text-decoration-line: none;
}

.massege__title:hover {
  color: #2fc7f7;
}

.massege__text {
  padding: 27px 14px 42px 16px;
  font-weight: normal;
  font-size: 13.4814px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.276217px;
  color: #323c47;
  opacity: 0.6;
}

.user {
  width: 30px;
  height: 30px;
  background: url(../images/user.svg) no-repeat;
}
.communication {
  display: flex;
  flex-flow: row;
}

.icon {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 77px;
  padding: 14px 77px 11px 13px;
}

.telegram {
  width: 22px;
  height: 22px;
  background: url(../images/telegramPass.svg) no-repeat;
}

.telegram:hover {
  background: url(../images/telegram.svg) no-repeat;
}

.vk {
  width: 22px;
  height: 22px;
  background: url(../images/vkPass.svg) no-repeat;
}

.vk:hover {
  background: url(../images/vk.svg) no-repeat;
}

.whatsup {
  width: 22px;
  height: 22px;
  background: url(../images/whatsupPass.svg) no-repeat floralwhite;
}

.whatsup:hover {
  background: url(../images/whatsup.svg) no-repeat floralwhite;
}

.pinIcon {
  width: 8px;
  height: 15px;
  background: url(../images/pinIcon.svg) no-repeat;
}

.pin {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 70px;
  padding-top: 17.7px;
}

.pinText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #323c47;
  opacity: 0.6;
}

.comments {
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 13px;
  width: 335px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.likes {
  width: 76px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.likesIcon {
  width: 10px;
  height: 10px;
  background: url(../images/likedIcon.svg) no-repeat;
}

.likesText {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #323c47;
  opacity: 0.6;
  text-decoration-line: none;
}

.likesText:hover {
  color: #2fc7f7;
}

.comment {
  width: 109px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.commentIcon {
  width: 10px;
  height: 10px;
  background: url(../images/commentIconPass.svg) no-repeat;
}

.commentIcon:hover {
  width: 10px;
  height: 10px;
  background: url(../images/commentIcon.svg) no-repeat;
}
.commentText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #323c47;
  mix-blend-mode: normal;
  text-decoration-line: none;
}

.commentText:hover {
  color: #2fc7f7;
}

.views {
  width: 86px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.viewsIcon {
  width: 12px;
  height: 9px;
  background: url(../images/eyeIconPass.svg) no-repeat;
}

.viewsIcon:hover {
  width: 12px;
  height: 9px;
  background: url(../images/eyeIcon.svg) no-repeat;
}

.viewsText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11.5555px;
  line-height: 16px;
  letter-spacing: -0.276217px;
  color: #838a91;
  text-decoration-line: none;
}

.viewsText:hover {
  color: #2fc7f7;
}

.personalCard__footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footerComments {
  box-sizing: border-box;
  width: 800px;
  height: 30px;
  padding-left: 11px;
  padding-right: 9px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 0.962959px solid #e9eff4;
  border-radius: 6px;
}

.footerComments__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #323c47;
  opacity: 0.6;
}

.footerComments__text--activ {
  color: #233539;
}

.footerComments__icon {
  width: 16px;
  height: 16px;
  background: url(../images/😊.svg) no-repeat;
}

.sendBtn {
  width: 30px;
  height: 30px;
  background: url(../images/sendBtn.svg) no-repeat;
}

.showMessages {
  padding-left: 470px;
  width: 155px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.showMessages__icon {
  width: 13px;
  height: 10px;
  background: url(../images/dropdown.svg) no-repeat;
}

.showMessages__text {
  font-weight: normal;
  font-size: 11.5555px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.276217px;
  text-decoration-line: underline;
  color: #2fc7f7;
  mix-blend-mode: normal;
}
